@import "tailwindcss";

@tailwind base;
@theme {
  --color-background: var(--cream);
  --color-dark-brown: var(--dark-brown);
  --color-cream: var(--cream);
}
@tailwind components;
@tailwind utilities;

:root {
  --dark-brown: #392d28;
  --cream: #edece8;
  --red: #6f0707;
}

body {
  background: var(--cream);
  color: var(--dark-brown);
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.08em;
  font-weight: 500;
}

.custom-photobooth-strip {
  @apply flex flex-wrap justify-center items-center p-3 pb-5;
  background: var(--red);
}

.custom-frame-photobooth-strip {
  @apply flex flex-wrap justify-center items-center p-0;
}
.base-button {
  @apply text-sm bg-dark-brown text-cream py-1 px-4 rounded hover:bg-red-900 transition-colors duration-300;
}

.unselected-button {
  @apply text-sm bg-gray-200 text-dark-brown py-1 px-4 rounded hover:bg-gray-300 transition-colors duration-300;
}

.back-button {
  @apply text-sm bg-red-900 text-cream py-1 px-4 rounded hover:bg-red-800 transition-colors duration-300;
}

.download-button {
  @apply rounded-lg border border-gray-200 p-1 cursor-pointer hover:bg-gray-200 transition-colors duration-300;
}

.photo-strip-text {
  @apply italic text-center leading-tight tracking-normal break-words;
}
